{% extends "layout.html" %}
{% block title %}Dietzilla:graph{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='js/lib/jquery.jqplot.min.css') }}" />
  <script class="include" src="{{ url_for('static', filename='js/lib/jquery.jqplot.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.dateAxisRenderer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.canvasTextRenderer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.canvasAxisLabelRenderer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.canvasAxisTickRenderer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.cursor.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.highlighter.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.movingAverageRenderer.js') }}"></script>
  <script>
    $(document).ready(function(){
	$.jqplot.config.enablePlugins = true;
	var series = {{ graphs|safe }};
	var ticks = 10;
	// Invarients
	var xaxis = {renderer:$.jqplot.DateAxisRenderer,
                     pad: 0,
                     labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                     tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                     numberTicks: ticks, //Number of days this plot covers
                     tickOptions: {angle:-30}
                    };
        var axesDefaults = {useSeriesColor: true,
                            rendererOptions: {alignTicks: true}
                           };
	var options = {
            axesDefaults: axesDefaults,
            axes:{xaxis: xaxis
                 },
            series: [],
            seriesDefault: {showMarker: true},
            title:'Weight and Waist Plot',
            legend:{show: true},
            animate: true,
            cursor: {show: true,
                     zoom: true}
	};
	var macroOptions = {
            axesDefaults: axesDefaults,
            axes:{xaxis:xaxis,
                 },
            series: [],
            seriesDefaults: {showMarker: false},
            animate: false,
            cursor: {show: true,
                     showTooltip: false,
                     constrainZoomTo: 'x',
                     zoom: true}
	};
	var style = $.jqplot.MovingAverageRenderer;

	// For each series we need a series_style and yaxis
	var data = [];
	for (var i=0; i<series.length; i++) {
            var title = series[i]['title'];
            var axis = 'y'+ ((i>0)?i+1:'') +'axis';
            options['series'].push({label: title, yaxis:axis,
                                    renderer:style,
                                    rendererOptions:{showMarker:true}});
            macroOptions['series'].push({label: title, yaxis:axis});

            options['axes'][axis] = {label: title + ' (' + series[i]['units'] + ')',
                                     tickOptions: {formatString:'%.1f'},
                                     tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                                     labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                                     rendererOptions:{}
                                    };
            macroOptions['axes'][axis] = options['axes'][axis];
            data.push(series[i]['data']);
	}
	var targetPlot = $.jqplot("target", data, options);
	var controllerPlot = $.jqplot("controller", data, macroOptions);

	$.jqplot.Cursor.zoomProxy(targetPlot, controllerPlot);

	$('.button-reset').click(function() { contollerPlot.resetZoom() });
    });
  </script>
{% endblock %}
{% block content %}
    <div class="jqPlot" id="target" style="height:320px; width:600px;"></div>
    <div class="jqPlot" id="controller" style="margin-top: 30px; height:200px; width:600px;"></div>
{% endblock %}
