{% extends "layout.html" %}
{% block title %}Graph{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/lib/jqplot/jquery.jqplot.css') }}" />

    <script class="include" src="{{ url_for('static', filename='js/lib/jqplot/jquery.jqplot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jqplot/plugins/jqplot.dateAxisRenderer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jqplot/plugins/jqplot.canvasTextRenderer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jqplot/plugins/jqplot.canvasAxisLabelRenderer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jqplot/plugins/jqplot.canvasAxisTickRenderer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jqplot/plugins/jqplot.cursor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jqplot/plugins/jqplot.highlighter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jqplot/plugins/jqplot.movingAverageRenderer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script>
var targetPlot, controllerPlot, series = {{ graphs|safe }};

$(function() {
    $("#from").datepicker({
        minDate: new Date({{min_date.year}}, {{min_date.month}} - 1, {{min_date.day}}),
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        onSelect: function(selectedDate) {
            $("#to").datepicker("option", "minDate", selectedDate);
            controllerPlot.resetZoom();
            jqplot_zoomDates($("#from").datepicker("getDate"), $("#to").datepicker("getDate"), targetPlot);
            inputs($("#from").datepicker("getDate"),
                   $("#to").datepicker("getDate"),
                   series);

        }
    });
    $("#to").datepicker({
        maxDate: "0d",
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        onSelect: function(selectedDate) {
            $("#from").datepicker("option", "maxDate", selectedDate);
            controllerPlot.resetZoom();
            jqplot_zoomDates($("#from").datepicker("getDate"),
                             $("#to").datepicker("getDate"), targetPlot);
            inputs($("#from").datepicker("getDate"),
                   $("#to").datepicker("getDate"),
                   series);

        }
    });
});

$(document).ready(function(){
    $("#from").datepicker("setDate", "{{ initial_days }}");
    $("#to").datepicker("setDate", "0d");
    var plots = show_graph(series, "Weight and Waist");
    targetPlot = plots[0];
    controllerPlot = plots[1];
    jqplot_zoomDates($("#from").datepicker("getDate"),
                     $("#to").datepicker("getDate"), targetPlot);

    inputs($("#from").datepicker("getDate"),
           $("#to").datepicker("getDate"),
          series);

    $('#reset')[0].click(function() {controllerPlot.resetZoom();
                                        });
    $('#cust')[0].click(function() {controllerPlot.resetZoom();
                                        jqplot_zoomDates(new Date(2012, 5 - 1, 3),
                                                         new Date(2012, 6 - 1, 26), targetPlot);
                                       });
    $('#default')[0].click(function() {controllerPlot.resetZoom();
                                           jqplot_zoomDates($("#from").datepicker("getDate"),
                                                            $("#to").datepicker("getDate"), targetPlot);
                                          });
});

function makeRow(text, hash) {
    var wrapper = document.createElement('div'),
        wrapper2 = false,
        br = document.createElement('br'),
        hidden = document.createElement('input'),
        label = document.createElement('label'),
        labelDiv = document.createElement('div');

    wrapper.className = 'row';
    wrapper.idName = 'line';
    labelDiv.className = 'three mobile-two columns';
    label.className = 'right inline';

    label.textContent = text + ':';
    label.htmlFor = 'date';
    hidden.type = 'hidden';

    labelDiv.appendChild(label);
    labelDiv.appendChild(hidden);
    wrapper.appendChild(labelDiv);

    // Insert a hidden for date
    // Create an expandable area for multiple values on the same date
    // Such as weight, BMI, and waist size
    for (var i = 0; i < hash['titles'].length; i++) {
	if (typeof hash[text][i] === 'undefined') {
            hash[text][i] = [''];
	}
	var input = document.createElement('input'),
            inputDiv = document.createElement('div');

	inputDiv.className = 'three mobile-two columns';
	input.type = 'text';
	if (text in hash) {
            console.log(hash[text][i]);
            console.log(hash[text][i][0]);
            hidden.value = hash[text][i][0][0];
            if (hash[text].length <= i) {
		input.value = '';
            } else {
		// If we have multiple values for the same
		if (hash[text][i].length > 1){
                    if (wrapper2 == false) {
			wrapper2 = document.createElement('div');
			wrapper2.className = 'row';
			wrapper2.id = text;
                    }

                    //Make a nested object
                    // hash[graph][date][entries for the date][0 is date 1 is value]
                    input.value = hash[text][i][0][1];
                    hidden.value = hash[text][i][0][0];

                    // Create the drop down for multiple values on one day
                    for (var j=0; j < hash[text][i].length; j++ ) {
			var label2 = document.createElement('label'),
                            hidden2 = document.createElement('input'),
                            input2 = document.createElement('input'),
                            subtext = hash[text][i][j],
                            input2Div = document.createElement('div'),
                            label2Div = document.createElement('div');


			input2.type = 'text';
			input2.value = subtext[1];
			label2.textContent = hash['titles'][i] + ' @ ' + subtext[0].toLocaleTimeString() + ': ';
			label2.className = 'right inline';
			label2Div.className = 'four columns';
			input2Div.className = 'two columns';

			label2.htmlFor = 'date';
			hidden2.type = 'hidden';
			hidden2.value = subtext[0];
			label2Div.appendChild(label2)
			label2Div.appendChild(hidden2);
			input2Div.appendChild(input2);
			wrapper2.appendChild(label2Div);
			wrapper2.appendChild(input2Div);
                    }
                    wrapper.onclick = function(){
			var sublines = $(wrapper).children();
			$(sublines[sublines.length-1]).slideToggle();
			// console.log(sublines);
			// for (var j = 3; j < sublines.length; j++) {
                        //     $(sublines[j]).slideToggle();
			// }
                    };
		} else {
                    input.value = hash[text][i][0][1];
		}
            }
	}
	inputDiv.appendChild(input);
	wrapper.appendChild(inputDiv);

    }
    if (wrapper2 != false) {
	// wrapper2.appendChild(br);
	wrapper.appendChild(wrapper2)
	// $(br).hide();
	$(wrapper2).hide();
    }
return wrapper;
}

function series_to_hash(series) {
    var hash = {'titles': []};
    for (var i = 0; i < series.length; i++) {
	hash['titles'].push(series[i]['title']);
	for (var j = 0; j < series[i]['data'].length; j++) {
            key = new Date(series[i]['data'][j][0]).toDateString();
            date = new Date(series[i]['data'][j][0]);
            value = series[i]['data'][j][1];
            //Build a nest for multiple values on the same day.
            if (!(key in hash)) {
		hash[key] = [];
		// Keep columns aligned
		for (var k = 0; k < i; k++){
                    hash[key].push('');
		}
            }
            if (hash[key].length < i - 1) {
		// Keep columns aligned
		for (var k = 0; k < i; k++){
                    hash[key].push('');
		}
            }else if (hash[key][i]) {
		// We already have a value for this date and series, so nest
		hash[key][i].push([date, value])
            }else {
		hash[key].push([[date, value]]);
            }
	}
    }
    console.log(hash);
    return hash;
}


function inputs(start, end, series){
    var container = $('#entries');
    container.empty();
    var hash = series_to_hash(series);

    var wrapper = document.createElement('div'),
        dateDiv = document.createElement('div'),
        dateLabel = document.createElement('label');

    wrapper.className = 'row';
    dateDiv.className = 'three mobile-two columns';
    dateLabel.className = 'inline right';
    dateLabel.textContent = 'Date';
    dateDiv.appendChild(dateLabel);
    wrapper.appendChild(dateDiv);

    for (var i = 0; i < hash['titles'].length; i++){
	var label = document.createElement('label'),
            labelDiv = document.createElement('div');
	labelDiv.className = 'two columns';
        label.className='inline right';
	label.textContent = hash['titles'][i];
	labelDiv.appendChild(label);
	wrapper.appendChild(labelDiv);
    }
    $(wrapper).appendTo(container);

    for (var i = start; i <= end; i.setDate(i.getDate() + 1)) {
	//Next row
	$(makeRow(i.toDateString(), hash)).appendTo(container);
    }
    $('#line:odd').addClass('odd');
};

  </script>
{% endblock %}
{% block content %}
  <fieldset>
    <legend>Graphs</legend>
    <div class="jqPlot graph centered" id="target"></div>
    <div class="jqPlot graph centered" id="controller"></div>
  </fieldset>
  <div id="zoomOptions" class="row">
    <div class="eight mobile-six columns centered">
      <ul class="button-group radius three-up">
	<li><a href="#" class="button" id="default">Show last {{ -initial_days }} days</a></li>
	<li><a href="#" class="button" id="cust">Show last ? days</a></li>
	<li><a href="#" class="button" id="reset">Show all dates</a></li>
      </ul>
    </div>
  </div>
  <br/>
  <div class="row" id="dates">
    <div class="twelve mobile-eight columns centered">
      <div class="two mobile-one columns">
	<label class="right inline">From:</label>
      </div>
      <div class="four mobile-three columns">
	<input id="from" type="text" placeholder="Two weeks ago"/>
      </div>
      <div class="two mobile-one columns">
	<label class="right inline">To:</label>
      </div>
      <div class="four mobile-three columns">
	<input id="to" type="text" class="inline right" placeholder="Today"/>
      </div>
    </div>
  </div>
  <div id="entries" class="row">
  </div>
{% endblock %}
