{% extends "layout.html" %}
{% block title %}Dietzilla:graph{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='js/lib/jquery.jqplot.min.css') }}" />
  <script class="include" src="{{ url_for('static', filename='js/lib/jquery.jqplot.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.dateAxisRenderer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.canvasTextRenderer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.canvasAxisLabelRenderer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.canvasAxisTickRenderer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.cursor.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.highlighter.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/plugins/jqplot.movingAverageRenderer.js') }}"></script>
  <script>
    $(document).ready(function(){
	$.jqplot.config.enablePlugins = true;
	var weight = [['06/15/2012', 191.7],
                      ['06/16/2012', 190.0],
                      ['06/17/2012', 189.4],
                      ['06/18/2012', 190.8],
                      ['06/19/2012', 189.3],
                      ['06/20/2012', 190.7],
                      ['06/21/2012', 188.2],
                      ['06/22/2012', 188.7],
                      ['06/23/2012', 187.2],
                      ['06/24/2012', 188.3]
                     ];
	var waist = [['06/15/2012', 38.5],
                     ['06/16/2012', 38.7],
                     ['06/17/2012', 38.6],
                     ['06/18/2012', 38.8],
                     ['06/19/2012', 38.1],

                     ['06/21/2012', 37.9],
                     ['06/22/2012', 38.9],
                     ['06/23/2012', 38.5],
                     ['06/24/2012', 38.5]
                    ];

	var targetPlot = $.jqplot("target", [weight, waist], {
            title:'Weight and Waist Plot',
            animate: true,
            seriesDefault: {showMarker: true},
            series: [{label: 'Weight', yaxis:'yaxis', renderer:$.jqplot.MovingAverageRenderer, rendererOptions:{smooth: true, showMarker:true}},
                     {label: 'Waist', yaxis:'y2axis', renderer:$.jqplot.MovingAverageRenderer, rendererOptions:{smooth: true, showMarker:true}}],
            axes:{
		yaxis:{
                    label: 'Weight',
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer
		},
		y2axis:{
                    label: 'Waist',
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer
		},
		xaxis:{
                    renderer:$.jqplot.DateAxisRenderer,
                    pad: 0,
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    numberTicks:10,
                    tickOptions: {angle:-30}
		}
            },
            axesDefaults:{
		// color the axes baselines the same color as the series.
		useSeriesColor: true,
		rendererOptions: {
                    // align ticks for each axis across the grid
                    alignTicks: true
		}
            },
            highlighter: {
		sizeAdjust: 10,
		tooltipLocation: 'n',
		tooltipAxes: 'y',
		tooltipFormatString: '<b><i><span style="color:red;">Weight:</span></i></b> %.2f',
		useAxesFormatters: true},
            legend:{show: true},
            cursor: {show: true,
                     zoom: true}
	});
	var controllerPlot = $.jqplot("controller", [weight, waist], {
            animate: false,
            seriesDefaults: {showMarker: false},
            series: [{label: 'Weight', yaxis:'yaxis'},
                     {label: 'Waist', yaxis:'y2axis'}],
            axes:{
		yaxis:{
                    label: 'Weight',
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer
		},
		y2axis:{
                    label: 'Waist',
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer
		},
		xaxis:{
                    renderer:$.jqplot.DateAxisRenderer,
                    pad: 0,
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    numberTicks:10,
                    tickOptions: {angle:-30}
		}
            },
            axesDefaults:{
		// color the axes baselines the same color as the series.
		useSeriesColor: true,
		rendererOptions: {
                    // align ticks for each axis across the grid
                    alignTicks: true
		}
            },
            cursor: {show: true,
                     showTooltip: false,
                     constrainZoomTo: 'x',
                     zoom: true}
	});

	$.jqplot.Cursor.zoomProxy(targetPlot, controllerPlot);

	$('.button-reset').click(function() { plot1.resetZoom() });
    });
  </script>
{% endblock %}
{% block content %}
    <div class="jqPlot" id="target" style="height:320px; width:600px;"></div>
    <div class="jqPlot" id="controller" style="margin-top: 30px; height:200px; width:600px;"></div>
{% endblock %}
