/* Triad Color Scheme
http://colorschemedesigner.com/#3m31TkjI3vyxB
Primary Color:
#4BB2C5	#4F8A94	#197181	#7CD3E3	#99D8E3

Secondary Color A:
#FFCD5D	#C0A464	#A77D1F	#FFDA88	#FFE5AA (Highlight color)

Secondary Color B (Alert Color):
#FF6D5D	#C06D64	#A72C1F	#FF9388	#FFB2AA

Success Color:
#50DA6E

Fonts:
Headings: Georgia, serif;
Text: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica
Trim/accent: Courier
*/

body {
    /* background: #7CD3E3; */
}

/* .graph { */
/*     margin-top: 20px; */
/*     width:800px; */
/* } */

#target {
    height: 320px;
}

#controller {
    height: 150px;
}

.odd {
    background: #FFE5AA;
}